/*
Colors used

Text color: Dark Gray - #2b2b2b
Primary Color: Purple - #575483
Secondary Color: Yellow - #898946
*/

:root {
  --primary-color: #575483;
  --secondary-color: #737b3f;
  --secondary-color-lighter: #c0cf70;
  --tertiary-color: #cfbb99;
  --dark-grey: #2b2b2b;
  --bold: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--bold);
  margin-left: 15px;
}

h2 {
  font-size: 24px;
  font-weight: var(--bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--bold);
}

.standard-body {
  display:flex;
  flex-direction: column;
  text-align: center;
  margin: 0 30% 0 30%;
}

a {
  color: var(--primary-color);
}

a:hover a:focus {
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
}

a:active {
  color: var(--tertiary-color);
}

button,
.button,
.button:visited {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/*
.home-page-background {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.home-page-body {
  display: flex;
  flex-direction: column;
}

.home-page-background {
  content: "";
  background-image: url(../img/html-background.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 20%;
  z-index: -10;
}

.navigation-list {
  list-style-type: none;
  height: 75px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 5px;
  background-color:#fff;
  text-decoration: none;
}

.navigation-list__item {
  text-decoration: none;
}

.navigation-list__item--active {
  text-decoration: none;
}

footer {
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 10px;
  width: 100%;
  margin: auto;
}

.social-media__link {
  text-decoration: none;
  margin: 10px;
}

.paragraph__code {
  background-color: black;
  color: var(--secondary-color-lighter);
  padding: 3px;
}

.paragraph__special-text {
  color: var(--secondary-color);
  font-family: 'Cinzel', serif;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
}

.profile {
  display: flex;
  max-width: 700px;
  margin: 100px auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #575483;
}

.page-header__item {
  flex: 0 1 auto;
  justify-content: space-between;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.project-list__item {
  margin: 20px;
  display: inline-block;
  width: 33%;
}

.project-list__screenshot {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-info{
  margin: 20px;
  text-align: center
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  color: #fff;
}

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
  }

  .project-list__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
  }
}


@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) { /*for mobile screens*/
  .project-list {
    grid-gap: 10px;
  }
  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
    text-align: center;
    margin: auto;
  }
  .standard-body {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20px 0 20px;
  }
  .profile {
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  .profile__portrait {
    justify-content: center;
    margin: auto;
    width: 80%;
    height: 80%;
  }
  .profile__text {
    margin: 10px;
    text-align: center;
  }
  .button {
    text-align: center;
    width: auto;
    font-size: 20px;
  }
  footer {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%
  }
}

/* Animations */

@keyframes background-shift {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, 15px);
    transform: rotate(-3deg);
  }
  50% {
    transform: translate(-15px, -15px);
  }
  75% {
    transform: translate(-15px, 15px);
    transform: rotate(3deg);
  }
  100% {
    transform: translate(15px, -15px);
  }
}
#icons {
  animation: 3s background-shift infinite alternate linear;
}

@keyframes typing {
  25% {
    transform: translate(0, 5px);
  }
  50% {
    transform: translate(0, -5px);
  }
  75% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -5px);
  }
}
@keyframes typing-r {
  25% {
    transform: translate(0, -5px);
  }
  50% {
    transform: translate(0, 5px);
  }
  75% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, 5px);
  }
}
#hand_l{
  animation: 1s typing infinite alternate linear;
}
#hand_r {
  animation: 1s typing-r infinite alternate linear;
}

@keyframes wiggle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
#laptop {
  transform-origin: center;
  animation: .5s wiggle infinite alternate linear;
}
